.App {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

.App > div:nth-of-type(1) {
  flex: 0 0 100%;
  background: gray;
}

.App > div:nth-of-type(2) {
  flex: 0 0 70%;
  background: lightgray;
}

.about {
  background: black;
}

.App > div:nth-of-type(3) {
  flex: 0 0 30%;

  color: white;
}

@media (max-width: 760px) {
  .App {
    flex-wrap: nowrap;
  }
}
