.App-user-input {
  display: flex;
  background: lightblue;
  flex-direction: row;
  justify-content: center;
}

.App-jobs {
  flex: 0 0 100%;
  border-right: 2px solid lightblue;
  overflow: scroll;
  height: 90vh;
}

.form-group {
  text-align: center;
  width: 100%;
  padding: 1% 0;
}

.form-group * {
  margin-right: 1%;
}

/* required, by default react-bootstrap has inline form width as auto */
.form-control {
  width: 20% !important;
}

/* required, by default react-bootstrap has inline form width as auto */
.btn-primary {
  width: 10% !important;
}

.col-md-10.col-xs-12 {
  padding-right: 0px;
}

.col-md-2.col-xs-12 {
  background-color: lightblue;
  margin-top: 0px;
  padding-top: 1%;
  padding-bottom: 1.3%;
}
