.App {
  border: 1px solid lightblue;
  padding: 0;
}

.App-title {
  font-family: sans-serif;
  color: darkblue;
}

.App-user-input {
  display: flex;
  background: lightblue;
  flex-direction: row;
  justify-content: center;
}

.App-jobs {
  height: 85vh;
  padding-left: 5%;
}

/* Form labels */
.control-label {
  font-size: 2rem;
}

.tab-content {
  height: 70vh;
  overflow: auto;
  margin-bottom: 0;
}

.form-group {
  text-align: center;
  width: 100%;
  padding: 1%;
}

.form-group * {
  margin: 1%;
}

/* required, by default react-bootstrap has inline form width as auto */
.form-control {
  min-width: 16% !important;
  margin: 0 auto;
}

/* required, by default react-bootstrap has inline form width as auto */
.btn-primary {
  min-width: 10% !important;
}

/* google map */
.col-md-9.col-xs-12 {
  padding-left: 0px;
}

/* blue element containing form */
.col-md-2.col-xs-12 {
  background-color: lightblue;
  margin-top: 0px;
  padding-top: 1%;
  padding-bottom: 1.3%;
}
